*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Helvetica-neue';
  color: #fff;
}

body,html{
  height: 100%;
  width: 100%;
}

body{
  background-color: #111; 
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap:wrap;
}

.card{
  width: 300px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #333;
}

.card img{
height: 100px;
width: 140;
object-fit: cover;
border-radius: 50%;
}

.card p{
  margin:20px 0;
}

.card button{
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  color: #111;
}